.dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  @import url('https:     //fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.s1{
  position: relative;
  display: inline-block;
  padding: 25px 30px;
  margin: 40px 0;
  color: #03e9f4;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  margin-right: 50px;
 
}
.s1:hover{
  background: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 200px #03e9f4;
   -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
.s1:nth-child(1){
  filter: hue-rotate(270deg);
}
.s1:nth-child(2){
  filter: hue-rotate(110deg);
}
.s1 span{
  position: absolute;
  display: block;
}
.s1 span:nth-child(1){
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg,transparent,#03e9f4);
  animation: animate1 1s linear infinite;
}
@keyframes animate1{
  0%{
      left: -100%;
  }
  50%,100%{
      left: 100%;
  }
}
.s1 span:nth-child(2){
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,#03e9f4);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animate2{
  0%{
      top: -100%;
  }
  50%,100%{
      top: 100%;
  }
}
.s1 span:nth-child(3){              
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg,transparent,#03e9f4);
  animation: animate3 1s linear infinite;
  animation-delay: 0.50s;
}
@keyframes animate3{
  0%{
      right: -100%;
  }
  50%,100%{
      right: 100%;
  }
}


.s1 span:nth-child(4){
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg,transparent,#03e9f4);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate4{
  0%{
      bottom: -100%;
  }
  50%,100%{
      bottom: 100%;
  }
}



 /* 사이드바 스타일 */
  .sidebar {
          height: 100%;
          width: 0;
          position: fixed;
          top: 0;
          right: 0;
          background-color: #ffffff;
          overflow-x: hidden;
          transition: 0.5s;
          padding-top: 60px;
      }

      /* 사이드바 내용 스타일 */
      .sidebar a {  
          padding: 10px 15px;
          text-decoration: none;
          font-size: 20px;
          color: #818181;
          display: block;
          transition: 0.3s;
      }

      /* 사이드바 내용 호버 스타일 */
      .sidebar a:hover {
          color: white;
      }

      /* 사이드바 닫기 버튼 스타일 */
      .closebtn {
          position: absolute;
          top: 0;
          left: 25px;
          font-size: 36px;
          margin-right: 50px;
      }


      /* 버튼 스타일 */
      .sidebar-btn {
          position: fixed;
          top: 10px;
          right: 10px;
          width: 50px;
          height: 50px;
          background-color: #0e0e0e; /* 사이드바와 같은 색상으로 변경 */
          color: white;
          border: none;
          cursor: pointer;
      }
    
      .a {
          text-decoration: none; /* 밑줄 제거 */
          color: inherit; /* 링크 색상 상속 */
          cursor: pointer; /* 포인터 커서로 변경 */
      }

      .s2 { 
          text-shadow: 2px 4px 2px rgb(38, 38, 38); 
      }

      body, html {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
    }
    
    .scroll-section {
      color: #ffffff;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2em;
        opacity: 0;
        transform: translateY(50%);
        transition: opacity 1.5s ease-out, transform 1.5s ease-out;
        z-index: 1;
        position: relative;
    }
    
    .scroll-section.visible {
        opacity: 1;
        transform: translateY(0);
    }

    .v-line {
      border-left : thick solid #53b2d7;
      height : 2000px;
      z-index: 2;
      position: absolute;
    }